<h4>All Users' Collections</h4>

<p><%= link_to('Create New Collection', new_collection_path(@collection)) %></p>
<hr>

<% @collections.each do |collection| %>
  <%= link_to collection.name, collection_path(collection) %><br>
<% end %>
