<h4>All Recipes</h4>

<h6><%= link_to('Create your own recipe', new_recipe_path(@recipe)) %></h6>

<hr>
<% @recipes.each do |recipe| %>
  <p><%= link_to recipe.title, recipe_path(recipe) %></p><br>
<% end %>
<hr>
