<h2>All Recipes</h2>

<p><%= link_to('Create your own recipe', new_recipe_path(@recipe)) %></p>

<hr>
<% @recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe_path(recipe) %><br>
<% end %>
<hr>
