<br>
<br>

<p>Welcome to Jamba.laya.
   Enter the ingredients you've got on hand and we'll do the rest.</p>

   <form action="/recipes/search" method="get">
     <input type="text" name="search">
     <input type="submit" value="Search">
   </form></p>
