<% if current_user %>

<div class="welcome">
  <h6>Enter the ingredients you've got on hand and we'll do the rest.</h6>
  <br>
  <form action="/recipes/search" method="get">
    <input type="text" name="search">
    <input type="submit" value="Search">
  </form>
</div>

<% end %>
